In [1]:
import numpy as np
import pandas as pd

In [26]:
admin = pd.read_excel('C:\\Users\\lzh-a\\Desktop\DA\\NZ_Admin_JOBS.xlsx')

In [3]:
admin.describe()

,字段1,字段1_link,字段2,字段3,字段4,字段5
count,2708,2708,2686,2708,2708,2708
unique,548,2708,475,147,54,93
top,Executive Assistant,https://www.seek.co.nz/job/50582301?type=promo...,Beyond Recruitment - Winner – Best Innovation ...,location: AucklandAucklandarea: Auckland Centr...,"27d ago,at",classification: Administration & Office Suppor...
freq,301,1,285,654,572,715

In [4]:
admin.head(5)

,字段1,字段1_link,字段2,字段3,字段4,字段5
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...

In [6]:
admin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   字段1       2708 non-null   object
 1   字段1_link  2708 non-null   object
 2   字段2       2686 non-null   object
 3   字段3       2708 non-null   object
 4   字段4       2708 non-null   object
 5   字段5       2708 non-null   object
dtypes: object(6)
memory usage: 127.1+ KB

In [27]:
admin.columns = ['Position', 'Link', 'Company', 'Location', 'Post Time', 'Classification']

In [28]:
admin.head()

,Position,Link,Company,Location,Post Time,Classification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...

In [35]:
df1 = admin['Location'].str.split('location: ', expand = True)
df1
df2 = df1[0].str.split('area: ', expand = True)
df2

,0,1
0,Bay of PlentyBay of Plenty,TaurangaTauranga
1,Bay of PlentyBay of Plenty,TaurangaTauranga
2,AucklandAuckland,None
3,SouthlandSouthland,InvercargillInvercargill
4,CanterburyCanterbury,ChristchurchChristchurch
...,...,...
2703,AucklandAuckland,Auckland CentralAuckland Central
2704,WellingtonWellington,"Wellington CentralWellington Central,Competiti..."
2705,WaikatoWaikato,"HamiltonHamilton,Competitive hourly rates $$"
2706,WaikatoWaikato,"HamiltonHamilton,Competitive hourly rates $$"
2707,WellingtonWellington,None

In [36]:
admin['Location'] = df2[0]
admin['Area'] = df2[1]

In [37]:
admin.head()

,Position,Link,Company,Location,Post Time,Classification,Area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,Bay of PlentyBay of Plenty,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,TaurangaTauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of PlentyBay of Plenty,"Featured,at",classification: Administration & Office Suppor...,TaurangaTauranga
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,None
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,SouthlandSouthland,"1h ago,at",classification: Administration & Office Suppor...,InvercargillInvercargill
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,CanterburyCanterbury,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,ChristchurchChristchurch

In [39]:
df3 = admin['Classification'].str.split('classification: ', expand = True)
df3

,0,1
0,,Administration & Office SupportAdministration ...
1,,Administration & Office SupportAdministration ...
2,,Administration & Office SupportAdministration ...
3,,Administration & Office SupportAdministration ...
4,,Administration & Office SupportAdministration ...
...,...,...
2703,,Administration & Office SupportAdministration ...
2704,Competitive hourly rate,None
2705,Competitive hourly rates $$,None
2706,Competitive hourly rates $$,None
2707,,Administration & Office SupportAdministration ...

In [40]:
df4 = df3[1].str.split('subClassification: ', expand = True)
df4

,0,1
0,Administration & Office SupportAdministration ...,Office ManagementOffice Management
1,Administration & Office SupportAdministration ...,ReceptionistsReceptionists
2,Administration & Office SupportAdministration ...,OtherOther
3,Administration & Office SupportAdministration ...,Administrative AssistantsAdministrative Assist...
4,Administration & Office SupportAdministration ...,Client & Sales AdministrationClient & Sales Ad...
...,...,...
2703,Administration & Office SupportAdministration ...,Client & Sales AdministrationClient & Sales Ad...
2704,None,None
2705,None,None
2706,None,None
2707,Administration & Office SupportAdministration ...,"PA, EA & SecretarialPA, EA & Secretarial"

In [41]:
admin['Classification'] = df4[0]
admin['SubClassification'] = df4[1]
admin['Salary'] = df3[0]
admin.head()

,Position,Link,Company,Location,Post Time,Classification,Area,SubClassification,Salary
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,Bay of PlentyBay of Plenty,"Featured,at,Private Advertiser",Administration & Office SupportAdministration ...,TaurangaTauranga,Office ManagementOffice Management,
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,Bay of PlentyBay of Plenty,"Featured,at",Administration & Office SupportAdministration ...,TaurangaTauranga,ReceptionistsReceptionists,
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,AucklandAuckland,"4d ago,at",Administration & Office SupportAdministration ...,None,OtherOther,
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,SouthlandSouthland,"1h ago,at",Administration & Office SupportAdministration ...,InvercargillInvercargill,Administrative AssistantsAdministrative Assist...,
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,CanterburyCanterbury,"4d ago,at,Private Advertiser",Administration & Office SupportAdministration ...,ChristchurchChristchurch,Client & Sales AdministrationClient & Sales Ad...,